body {
  font-family: "Public Sans", sans-serif;
}
.text-preset-1 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 120%;
  color: #201f24;
}
.text-preset-4{
  color: #696868;
  font-weight: 400;
  opacity: 1;
  align-items: center;
  text-align: center;
  font-size: 0.875rem;
  white-space: no-wrap;
  gap: 0.5rem;
}

label {
  color: #696868;
  font-weight: 700;
  font-size: 0.875rem;
  margin-bottom: 0.063rem;
  
}
.ant-progress .ant-progress-outer{
  margin-top: 1rem;
}
.ant-progress .ant-progress-bg {
background-color: #277C78;
}